
2021_03/ciencia_de_dados/projeto_final/.ipynb_checkpoints/projeto_final-checkpoint.ipynb
2021_03/ciencia_de_dados/.ipynb_checkpoints/trabalho_pratico-checkpoint.ipynb
2021_03/computacao_natural/Materiais
2021_03/ciencia_de_dados/projeto_final/Template_SBC
2021_03/ciencia_de_dados/trabalho_pratico/.ipynb_checkpoints/trabalho_pratico-checkpoint.ipynb
2021_03/computacao_natural/exercicios/exercicio_kmeans_pso_ga/.ipynb_checkpoints/exercicio_kmeans_pso_ga-checkpoint.ipynb
2021_03/computacao_natural/exercicios/exercicio_kmeans_pso_ga/Iris.csv
2021_03/computacao_natural/tarefa_computacional_1/iris.csv
2021_03/computacao_natural/tarefa_computacional_1/NC - artigo- tarefa 1 - A clustering method combining differential evolution with the K-means algorithm.pdf
2021_03/computacao_natural/tarefa_computacional_1/NC- artigo complementar - tarefa 1 - FSDE-Forced Strategy Differential Evolution used for data clustering.pdf
2021_03/computacao_natural/tarefa_computacional_1/wdbc.csv
2021_03/computacao_natural/tarefa_computacional_1/wine.csv
2021_03/redes_neurais/Atividades/.ipynb_checkpoints/maquina_linear-checkpoint.ipynb
2021_03/redes_neurais/Atividades/gradiente_descendente/.ipynb_checkpoints/ex_gradiente_descendente-checkpoint.ipynb
2021_03/redes_neurais/Atividades/maquina_linear/Iris.csv
2021_03/computacao_natural/tarefa_computacional_1/.ipynb_checkpoints/tarefa_computacional_1-checkpoint.ipynb
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_children.json
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_comics_graphic.json
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_fantasy_paranormal.json
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_history_biography.json
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_mystery_thriller_crime.json
*.json
2021_03/computacao_natural/tarefa_computacional_1/K-Means artigo.txt
2021_03/computacao_natural/tarefa_computacional_1/relatorio_tudo.docx
2021_03/computacao_natural/tarefa_computacional_1/relatorio.docx
2021_03/computacao_natural/tarefa_computacional_1/tarefa_computacional_1.ipynb
2021_03/computacao_natural/tarefa_computacional_1/tarefa_computacional_1_tudo.ipynb
2021_03/computacao_natural/tarefa_computacional_1/tarefa_computacional_1_tudo.py
2021_03/computacao_natural/tarefa_computacional_2/NC - artigo tarefa computacional 2 - complementar.pdf
2021_03/computacao_natural/tarefa_computacional_2/NC - artigo tarefa computacional 2.pdf
2021_03/computacao_natural/tarefa_computacional_2/NC-2021-3- tarefa computacional 2.pdf
2021_03/computacao_natural/tarefa_computacional_1/NC-2021-3 - tarefa computacional 1.pdf
