
2021_03/ciencia_de_dados/projeto_final/.ipynb_checkpoints/projeto_final-checkpoint.ipynb
2021_03/ciencia_de_dados/.ipynb_checkpoints/trabalho_pratico-checkpoint.ipynb
2021_03/computacao_natural/Materiais
2021_03/ciencia_de_dados/projeto_final/Template_SBC
2021_03/ciencia_de_dados/trabalho_pratico/.ipynb_checkpoints/trabalho_pratico-checkpoint.ipynb
2021_03/computacao_natural/exercicios/exercicio_kmeans_pso_ga/.ipynb_checkpoints/exercicio_kmeans_pso_ga-checkpoint.ipynb
2021_03/computacao_natural/exercicios/exercicio_kmeans_pso_ga/Iris.csv
2021_03/computacao_natural/tarefa_computacional_1/iris.csv
2021_03/computacao_natural/tarefa_computacional_1/NC - artigo- tarefa 1 - A clustering method combining differential evolution with the K-means algorithm.pdf
2021_03/computacao_natural/tarefa_computacional_1/NC- artigo complementar - tarefa 1 - FSDE-Forced Strategy Differential Evolution used for data clustering.pdf
2021_03/computacao_natural/tarefa_computacional_1/wdbc.csv
2021_03/computacao_natural/tarefa_computacional_1/wine.csv
2021_03/redes_neurais/Atividades/.ipynb_checkpoints/maquina_linear-checkpoint.ipynb
2021_03/redes_neurais/Atividades/gradiente_descendente/.ipynb_checkpoints/ex_gradiente_descendente-checkpoint.ipynb
2021_03/redes_neurais/Atividades/maquina_linear/Iris.csv
2021_03/computacao_natural/tarefa_computacional_1/.ipynb_checkpoints/tarefa_computacional_1-checkpoint.ipynb
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_children.json
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_comics_graphic.json
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_fantasy_paranormal.json
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_history_biography.json
2021_03/ciencia_de_dados/trabalho_pratico/goodreads_books_mystery_thriller_crime.json
*.json
2021_03/computacao_natural/tarefa_computacional_1/K-Means artigo.txt
2021_03/computacao_natural/tarefa_computacional_1/relatorio_tudo.docx
2021_03/computacao_natural/tarefa_computacional_1/relatorio.docx
2021_03/computacao_natural/tarefa_computacional_1/tarefa_computacional_1.ipynb
2021_03/computacao_natural/tarefa_computacional_1/tarefa_computacional_1_tudo.ipynb
2021_03/computacao_natural/tarefa_computacional_1/tarefa_computacional_1_tudo.py
2021_03/computacao_natural/tarefa_computacional_2/NC - artigo tarefa computacional 2 - complementar.pdf
2021_03/computacao_natural/tarefa_computacional_2/NC - artigo tarefa computacional 2.pdf
2021_03/computacao_natural/tarefa_computacional_2/NC-2021-3- tarefa computacional 2.pdf
2021_03/computacao_natural/tarefa_computacional_1/NC-2021-3 - tarefa computacional 1.pdf
2021_03/ciencia_de_dados/projeto_final/projeto_final_part_1.docx
2021_03/ciencia_de_dados/Chapter 7_ Dimensionality Reduction _ Data Mining and Machine Learning.pdf
2021_03/ciencia_de_dados/projeto_final/data/2018.csv
2021_03/ciencia_de_dados/projeto_final/data/2019.csv
2021_03/ciencia_de_dados/projeto_final/data/2020.csv
2021_03/ciencia_de_dados/projeto_final/data/2021.csv
2021_03/redes_neurais/livro_base.pdf
2021_03/redes_neurais/prova.docx
2021_03/redes_neurais/prova_alexandre_rosseto_lemos.pdf
2021_03/redes_neurais/enunciado_prova.pdf
2021_03/redes_neurais/atividades/
2021_03/ciencia_de_dados/projeto_final/data
2021_03/ciencia_de_dados/listas/Lista 1 - Alexandre Rosseto Lemos.pdf
2021_03/ciencia_de_dados/listas/Lista 2 - Alexandre Rosseto Lemos.pdf
2021_03/ciencia_de_dados/listas/Lista 2 solution.pdf
2021_03/ciencia_de_dados/listas/lista_extra.docx
2021_03/ciencia_de_dados/listas/lista_extra.pdf
2021_03/ciencia_de_dados/projeto_final/df_junto.csv
2021_03/ciencia_de_dados/projeto_final/figura1.png
2021_03/ciencia_de_dados/projeto_final/figura2.png
2021_03/ciencia_de_dados/projeto_final/figura3.png
2021_03/ciencia_de_dados/projeto_final/optuna_gradboost_saved_trials.db
2021_03/ciencia_de_dados/projeto_final/optuna_rf_saved_trials.db
2021_03/ciencia_de_dados/projeto_final/optuna_xgb_saved_trials.db
2021_03/ciencia_de_dados/projeto_final/projeto_final.pdf
2021_03/ciencia_de_dados/projeto_final/projeto_final.rar
2021_03/ciencia_de_dados/projeto_final/report.doc
2021_03/ciencia_de_dados/projeto_final/part_1.pdf
